<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="contact/contact.css" />
    <title>MOC Tech Pvt. Ltd.</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="./images/MoC.png" alt="Logo Image" />
      </div>
      <ul class="nav-links">
        <li><a href="./index.html">Home</a></li>
        <li><a href="./about.html">About</a></li>
        <div class="dropdown">
          <button class="dropbtn">
            MAP
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Bhopal</a>
            <a href="#">Damoh</a>
            <a href="#">Sagar</a>
            <a href="#">Ujjan</a>
            <a href="#">Satna</a>
            <a href="#">Jabalpur</a>
            <a href="#">Vidsha</a>
            <a href="#">Hoshangabad</a>
            <a href="#">Indore</a>
            <a href="#">Rewa</a>
            <a href="#">Mandla</a>
          </div>
        </div>
        <li><a href="contact/">Contact</a></li>
        <li><a href="./services.html">Services</a></li>
        <li>
          <button
            class="login-button"
            onclick="window.open('./login/login.html','_self');"
          >
            Login
          </button>
        </li>
        <li>
          <button
            class="join-button"
            onclick="window.open('./login/register.html','_self');"
          >
            Join
          </button>
        </li>
      </ul>
    </nav>
    <section>
      <div id="overlay"></div>
      <video autoplay muted loop plays-inline class="backvideo">
        <source src="video/mm.mp4" type="video/mp4" />
      </video>
      <div id="home1">
        <div class="dets">
          <h1>
            MOCTECH <br />
            PRIVATE LIMITED
          </h1>
          <h4>
            Book your four wheeler &amp; two wheeler for service/repair from
            anywhere and check their working status on your mobile &amp; online
            platform. <button id="exp"><a href="#">Explore Me</a></button>
          </h4>
        </div>
      </div>
      <div class="booking-form">
        <h1>Want To Get Your Vehicles Best Care.</h1>
        <p>Search for your vehicle</p>
        <form method="post">
          <input type="hidden" />
          <select
            class="round"
            name="type"
            hx-get="/get/brands/"
            hx-trigger="change"
            hx-target="#brands"
          >
            <option selected="">Select Type</option>
            <option value="1">Two Wheeler</option>
            <option value="2">Four Wheeler</option>
          </select>
          <div id="brands">
            <select
              class="round"
              name="brands"
              hx-get="/get/models/"
              hx-trigger="change"
              hx-target="#models"
            >
              <option selected="">Select Brand</option>
            </select>
          </div>
          <div id="models">
            <select class="round" name="model" required="">
              <option selected="">Select Vehical Model</option>
            </select>
          </div>
          <select class="round" name="fuel">
            <option selected="">Select Fuel Type</option>
            <option value="Petrol">Petrol</option>
            <option value="Diesel">Diesel</option>
          </select>
          <input
            type="tel"
            name="phone"
            placeholder="Phone Number"
            pattern="[0-9]{10}"
            required=""
          />
          <input type="text" name="request" placeholder="Special Request" />
          <input id="submit" type="submit" value="Submit" />
        </form>
      </div>
    </section>

    <section id="about">
      <h2>About Us</h2>
      <p>This is the about section.</p>
    </section>

    <section id="services">
      <h2>Our Services</h2>
      <p>This is the services section.</p>
    </section>
    <section id="coreteam">
      <h2>core team</h2>
      <p>This is our core team</p>
    </section>
    <section id="contact">
     
      <h2>contact</h2>
      <p>This is our contact</p>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </body>
</html>
