*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.detspopup {
    width: 45%;
    height: 32%;
    position: absolute;
    color:#ffffff;
    top: 34%;
    left: 31%;
    background: rgba(255, 0, 0, 0.625);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 5px solid rgb(0, 0, 0);
    padding: 25px;
    z-index: 12;
    border-radius: 12px;
  }
  .detspopup button{
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 120px;
    background-color: #000000;
    border: 0px;
    outline: none;
    color: #fff;
    cursor: pointer;
} 
.detspopup h1{
    font-size:36PX;
    text-align: center;
    font-weight: 900;
    color: rgb(0, 0, 0);
}
.detspopup h2{
    margin-top: 8px;
    font-size:28PX;
    text-align: center;
    font-weight: 900;
    color: rgb(0, 0, 0);
}
.detspopup img{
        margin-left: 34rem;
        cursor: pointer;
        height: 5.5vh;
}

@media (max-width: 500px) {
    .detspopup {
        width: 65%;
        height: 45%;
        position: absolute;
        color:#ffffff;
        top: 40%;
        left: 19%;
        background: rgba(255, 0, 0, 0.625);
        border-radius: 4px;
        box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 5px solid rgb(0, 0, 0);
        border: 5px solid rgb(0, 0, 0);
        padding: 25px;
        z-index: 12;
        border-radius: 12px;
      }
      .detspopup button{
        display: block;
        margin: 0.5rem auto;
        padding: 0.5rem;
        width: 120px;
        background-color: #000000;
        border: 0px;
        outline: none;
        color: #fff;
        cursor: pointer;
    } 
    .detspopup h1{
         margin-bottom: 22px;
        font-size:26PX;
        font-weight: 900;
        color: rgb(0, 0, 0);
    }
    .detspopup h2{
        /* margin-top: 8px; */
        font-size:25PX;
        text-align: center;
        font-weight: 900;
        color: rgba(0, 0, 0, 0.845);
    }
    .detspopup img{
            margin-top: -1rem;
            margin-left: 9rem;
            cursor: pointer;
            height: 5.5vh;
    }
}